:root{

    --primary: #FFCE00; 
    --secondary: #171717;
    --light: white;
    --font: 'Roboto', 'Helvetica';

}

/*use root to make the varibales be globally accessible /*

/*https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties CSS Variables */ 

h1{
    color:red;
}

body{
    margin:0;
    padding:0;
    background-color: var(--secondary);
    font-family:var(--font);

}

.page{
    width: 100vw;
    height: 100vh;

    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    padding: 15px;
    box-sizing: border-box; /*stops from over flowing*/
}

.content{
    width: 100%; /*content fits in box */
    max-width: 768px; /* keeps content central*/
}