:root{

    --primary: #FFCE00; 
    --secondary: black;
    --light: white;
    --font: 'Roboto', 'Helvetica';

}

/*https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties CSS Variables */ 

h1{
    color:red;
}