:root{

    --primary: #FFCE00; 
    --secondary: #171717;
    --light: #F3F3F3;
    --font: 'Roboto', 'Helvetica';

}

/*use root to make the varibales be globally accessible /*

/*https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties CSS Variables */ 



body{
    margin:0;
    padding:0;
    background-color: var(--secondary);
    font-family:var(--font);

}

.page{
    width: 100vw;
    height: 100vh;

    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    padding: 15px;
    box-sizing: border-box; /*stops from over flowing*/
}

.content{
    width: 100%; /*content fits in box */
    max-width: 768px; /* keeps content central*/
}

h1{
    color:var(--light);
    font-size: 42px;
    font-weight: 900;
    /*https://htmldog.com/references/css/properties/font-weight/ */
    text-align: center; 
}

h1 span{
    color: var(--primary);
    font-weight: 300;
}

p{
    color: var(--light);
}

.menu-wrapper{
    position:fixed;
    top:15px;
    /* This element will then always display 10px from the top of the page regardless of what content passes through, under or over the element (visually). */
    left: 15px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    /*https://www.w3schools.com/cssref/tryit.asp?filename=trycss_position_top */
}

.menu-wrapper .toggle{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    bottom:0px;
    left:0px;
    right:0px;
    


    z-index: 999; /*makes toggle come to the very front" */
    cursor: pointer;
    opacity: 0;
  
}

/* creating of actual hamburger */

.menu-wrapper .hamburger{
    width: 50px;
    height: 50px;
    
    position: absolute;
    top: 0px;
    bottom:0px;
    left:0px;
    right:0px;

    z-index: 998;

    display:flex;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;
    padding: 10px;
    transition: all 0.3s ease;
    /* https://www.w3schools.com/css/css3_transitions.asp */
}






/* hamburger menu creation */

.menu-wrapper .hamburger .bar {
    position: relative;
    width: 100%;
    height: 3px;
    background: var(--light);
    z-index: 5;
    transition: all 0.2s linear;
  }
  
  .menu-wrapper .hamburger .bar::before,
.menu-wrapper .hamburger .bar::after {
  content: '';
  position: absolute;
  top: -10px;
  width: 100%;
  height: 3px;
  background: var(--light);
  transition: all 0.2s linear;
}
  
  .menu-wrapper .hamburger .bar::after {
    top: 10px;
  }
  
  .menu-wrapper .toggle:hover + .hamburger {
    transform: rotate(-25deg);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }

/* check if menu has been clicked */

.menu-wrapper .toggle:checked + .hamburger {

    transform:rotate(45deg);

}

.menu-wrapper .toggle:checked:hover + .hamburger {

    transform:rotate(135deg);

}

.menu-wrapper .toggle:checked + .hamburger .bar::before,
.menu-wrapper .toggle:checked + .hamburger .bar::after{
    top:0;
    transform:rotate(90deg);
}
/* when menu is clicked, the 3 bars transform into an X

/* create hover state so once its been checked, it stays as a cross */ 

